// General styling
$GeneralMargin: 50px 0px 0px 50px;
$flex: flex;
$floatLeft: left;
$floatRight: right;
$fontFamily: 'Ubuntu', sans-serif;

//Font weight
$regularFont: 400;
$boldFont: 700;
$lightFont: 300;

//Header Font
$H1FontSize: 24px; //This is just an example.
$H2FontSize: 18px; //This is just an example.
$headerFontSize: 36px;
$headerFontColor: #707070;
$flex: flex;

//Text Font
$fontSize: 16px; //This is just an example.
$fontColor: #707070;

//Styling for sections
$paddingTop: 40px;
$paddingBottom: 40px;

// Header
$HeaderBgColor: #F3F4F5;

//Navigation
$NavigationLeft: left;
$NavigationRight: right;

// Footer
$FooterBgColor: #171C30;

// Background COlors
$BgColor1: #FFFFFF;
$BgColor2: #464C62;


// Contact information bright 
$FontColorBright: #fff;


// Contact information dark
$FontColorDark: #262D47;

